.tartalom {
  border: 3px;
  width: 1100px;
  height: 530px;
  display: table;
  background-image: url('/images/kek.png');
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: Black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 5px 5px #e8e8e8;
  -moz-box-shadow: 0px 0px 5px 5px #e8e8e8;
  -o-box-shadow: 0px 0px 5px 5px #e8e8e8;
  box-shadow: 0px 0px 5px 5px #e8e8e8;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #0c0c0b;
}
p {
  margin: auto 20px auto 20px;
  font-size: 20px;
}
.wrapper {
  background-image: url('/images/hatter.png');
  height: 569px;
  padding-top: 50px;
}
.data {
  height: 530px;
  display: table-row;
}
.content {
  width: 700px;
  height: 530px;
  padding: 150px 30px 30px 30px;
  display: table-cell;
  vertical-align: top;
  text-align: center;
}
.userList {
  width: 400px;
  height: 530px;
  display: table-cell;
  padding: 150px 30px 30px 30px;
  text-align: center;
}

#gameTemplateArea {
    height: 510px;
    padding: 10px;
    position: absolute;
    width: 1080px;
}

.player{
    display: block;
    margin-left: auto;
    position: relative;
    right: 0;
    text-align: center;
    width: 100px;
}